.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 318px 318px 318px 318px;
    gap: 40px 40px;
    grid-template-areas:
  ". . . ."
  ". . . ."
  ". . . ."
  ". . . .";
  }
}

